<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="logPath">${sys:catalina.home}/logs/app</Property>
        <Property name="logPattern">
            %date{yyyy-MM-dd HH:mm:ss.SSSS} %level %threadId %c %X{uuid} methodName=%X{method} {{{ %message }}} %n
        </Property>
    </Properties>

    <Appenders>
        <RollingFile name="infoAppender" fileName="${logPath}/app.log" 
        filePattern="${logPath}/app.log.%date{yyyy-MM-dd}">
            <ThresholdFilter level="INFO"/>
            <PatternLayout pattern="${logPattern}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>

        <RollingFile name="errorAppender" fileName="${logPath}/app_error.log" 
        filePattern="${logPath}/app_error.log.%date{yyyy-MM-dd}">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="${logPattern}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="infoAppender"/>
            <AppenderRef ref="errorAppender"/>
        </Root>
    </Loggers>
</Configuration>